<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% for item in site.data.navigation %}
        <a class="nav-link active" href="{{ item.link }}" {% if page.url==item.link %} aria-current="page" {% endif %}>
          {{ item.name }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
