<div class="sidebar">
  <ul>
    <li>
      <a class="sidebar-nav-item active" href="#C-01">Conversation 01</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#C-02">Conversation 02</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#C-03">Conversation 03</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#C-04">Conversation 04</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#C-05">Conversation 05</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#C-06">Conversation 06</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#C-07">Conversation 07</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#C-08">Conversation 08</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#C-09">Conversation 09</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#C-10">Conversation 10</a>
    </li>
    <br />
    <li>
      <a class="sidebar-nav-item" href="#P-01">Paragraph 01</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#P-02">Paragraph 02</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#P-03">Paragraph 03</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#P-04">Paragraph 04</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#P-05">Paragraph 05</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#P-06">Paragraph 06</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#P-07">Paragraph 07</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#P-08">Paragraph 08</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#P-09">Paragraph 09</a>
    </li>
    <li>
      <a class="sidebar-nav-item" href="#P-10">Paragraph 10</a>
    </li>
  </ul>
</div>